/********* Reusable ************/
.row {
  max-width: 1140px;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

body {
  font-size: 20px;
}

ul {
  padding-inline-start: 0;
}

b {
  font-weight: 700;
}

/********* Product-cell ************/
.product-cell {
  float: left;
  width: 18%;
  margin: 0 1% 2% 1%;
  text-align: left;
  color: #767676;
  cursor: pointer;
}

.product-photo {
  width: 100%;
  object-fit: contain;
}

/********* Discount ************/
.discount-main {
  background-color: #ec3f34;
  position: absolute;
}
.label-content {
  cursor: default;
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  padding: 2px 5px 4px 5px;
  font-weight: 600;
  font-size: 80%;
}

.new-main {
  background-color: #aac05c;
  position: relative;
  float: right;
}

/********* CART & LIKE ICONS ************/
.on-photo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -20%;
  z-index: 1;
}

.on-photo-icons {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px 2px;
  width: 42px;
  border-radius: 50%;
}
.on-photo-icons:hover {
  color: #f46611;
  box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.14);
}

/********* PRODUCT-NAME ************/
.product-name {
  font-weight: 300;
}
.product-name:hover,
.product-name:focus {
  color: #f46611;
}

.single-product-price {
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  color: #d0021b;
  font-weight: 700;
  cursor: default;
}
.single-product-discount-price {
  color: #a1a1a1;
  text-decoration: line-through;
}

.reviews {
  display: flex;
  cursor: default;
}
.stars {
  color: #e0c239;
}

.images {
  width: 50%;
}

.image-gallery {
  float: left;
  width: 15%;
}
.image {
  background: no-repeat;
  object-fit: contain;
  width: 90%;
  margin-bottom: 20px;
}

.single-image {
  float: left;
  max-width: 80%;
  object-fit: contain;
}

.single-product-details-info {
  float: left;
  width: 45%;
  font-weight: 300;
  margin-left: 30px;
}
.single-product-title {
  font-size: 140%;
}

.single-product-price-2 {
  display: inline-block;
  font-size: 170%;
  margin-bottom: 0;
  color: #d0021b;
  font-weight: 700;
  cursor: default;
}

.single-product-details-info .single-product-discount-price {
  display: inline-block;
  float: unset;
  margin: 0;
  margin-left: 20px;
}
